.container{
  font-family: Arial, sans-serif;
  max-width: 500px;
  height:400px;
  margin: 50px auto;
  background: linear-gradient(red,yellow);
  display:flex;
  flex-direction: column;
  justify-content: center;align-items: center;
}
.heading{
  font-size: 2.5rem;

}
.timer{
  font-size:70px;
}
.buttons{
  padding:10px;
  

}
.btn{
  
  padding: 10px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  font-size:22px;
  color:white;
  margin-bottom: 20px;
  transition:opacity .3s ease-out;
}
#start-btn{
  background-color: green;
}
#stop-btn{
  background-color: red;
}
#reset-btn{
  background-color: blue;
}
.btn:hover{
  opacity:.7;
}